<div class="card movie">
  <img class="card-img-left" ng-src="{{movie.poster}}" alt="Poster">
  <div class="card-block d-flex flex-column" style="min-height:100%;">
    <div class="d-flex justify-content-between">
      <h4 class="card-title">{{movie.title}}</h4>
      <h4 class="card-title"><span class="badge badge-default">{{movie.rated}}</span></h4>
    </div>
    <h6 class="card-subtitle mb-3 text-muted">{{movie.genres}}</h6>
    <p class="card-text">{{movie.plot}}</p>
    <div class="card-text" style="flex:1;">
      <strong>Director:</strong> {{movie.director}}<br>
      <strong>Writer:</strong> {{movie.director}}<br>
      <strong>Stars:</strong> {{movie.actors}}
    </div>
    <div class="d-flex justify-content-start mt-4 ">
      <p>Released on {{movie.released | date: format: mediumDate}}</p>
      <p class="ml-4">Runtime {{movie.runtime}}</p>
    </div>
    <div class="row" style="margin-top: 3rem;">
      <div class="col">
        <a
          ng-href="/#!/details/{{movie.id - 1}}"
          class="btn btn-outline-primary btn-block"
          ng-hide="movie.id == 1">Previous</a>
      </div>
      <div class="col">
        <a
          ng-href="/#!/details/{{movie.id + 1}}"
          class="btn btn-outline-primary btn-block"
          ng-hide="movie.id == maxId">Next</a>
      </div>
    </div>
  </div>
</div>
